@import "./../../scss/stylesShared.scss";

.Login {
  min-height: 100vh;
  padding: 30px 15px;
  .container {
    text-align: center;
    max-width: 350px;
    .logo {
      width: 365px;
    }
    .title {
      margin: vw(67) 0 vw(20);
      font-weight: bold;
    }
    .subtitle {
      font-size: 18px;
      line-height: 1.44;
      letter-spacing: -0.3px;
    }
    .form {
      .inputField {
        margin: 30px 0 0;
        svg {
          fill: #ee4c77;
          width: 20px;
        }
        input{
          color: #383743;
        }
      }
    }
    .wrapper {
      position: relative;
    }
    .button {
      background-color: #57bbbc;
      color: #fff;
      max-width: 324px;
      line-height: 40px;
      height: 52px;
      font-size: 18px;
      margin: 30px 0 0;
      @include minDesktop {
        margin: vw(45) 0 0;
      }
      &:hover {
        background-color: #3c8283;
      }
      &:disabled {
        color: #78c8c9;
      }
    }
    .buttonProgress {
      position: absolute;
      left: 50%;
      bottom: 14px;
      color: #fff;
      margin-left: -12px;
    }
  }
}
