@import "./../../scss/stylesShared.scss";

.Header {
  background: #ed4c76;
  background: -moz-linear-gradient(top, #ed4c76 0%, #ca416b 100%);
  background: -webkit-linear-gradient(top, #ed4c76 0%, #ca416b 100%);
  background: linear-gradient(to bottom, #ed4c76 0%, #ca416b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4c76', endColorstr='#ca416b',GradientType=0 );

  .container {
    .startBar,
    .searchBar {
      position: relative;
      display: flex;
      height: 100px;
      @include minTablet {
        height: 154px;
      }
    }

    .startBar {
      justify-content: space-between;
      align-items: center;
      .logo {
        height: 35px;
        @include minTablet {
          height: 57px;
        }
      }
      .search,
      .logout {
        cursor: pointer;
        fill: #fff;
        font-size: 33px;
        @include minTablet {
          font-size: 36px;
        }
      }
      .search {
        margin-left: 20px;
        margin-right: -20px;
        @include minTablet {
          margin-left: 36px+50px;
          margin-right: -36px-50px;
        }
      }
      .logout {
        margin-right: 20px;
        margin-left: -20px;
        @include minTablet {
          margin-right: 36px+50px;
          margin-left: -36px-50px;
        }
      }
    }

    .searchBar {
      display: none;
      align-items: flex-end;
      padding: 0 15px 22px;
      @include minTablet {
        padding: 0 42px 22px;
      }
      position: relative;
      .iconCancel {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        height: 32px;
        width: 32px;
        background: url("./../../assets/icon-cancel.svg") no-repeat;
        background-size: 100%;
        @include minTablet {
          height: 60px;
          width: 60px;
        }
      }
      .inputField {
        > div {
          &,
          &:hover,
          &:focus {
            color: rgba(255, 255, 255, 0.87);
            &::before {
              transition: border-bottom-color 200ms
                cubic-bezier(255.4, 255, 255.2, 1) 0ms;
              border-bottom: 1px solid rgba(255, 255, 255, 0.42);
            }
            &::after {
              transition: transform 200ms cubic-bezier(255, 255, 255.2, 1) 0ms;
              border-bottom: 2px solid #fff;
            }
          }
        }
        svg {
          fill: #fff;
          font-size: 23px;
          @include minTablet {
            font-size: 41px;
          }
        }
        input {
          color: #fff;
          font-size: 16px;
          padding-right: 32px;
          @include minTablet {
            font-size: 34px;
            padding-right: 60px;
          }
        }

        input::-webkit-input-placeholder {
          color: #991237;
          opacity: 1;
        }
        input:-ms-input-placeholder {
          color: #991237;
          opacity: 1;
        }
        input::-moz-placeholder {
          color: #991237;
          opacity: 1;
        }
        input:-moz-placeholder {
          color: #991237;
          opacity: 1;
        }
      }
    }

    &.visaoPesquisa {
      .startBar {
        display: none;
      }
      .searchBar {
        display: flex;
      }
    }
  }
}
