@import "./scss/stylesShared.scss";

* {
  margin: 0;
  padding: 0;
  list-style: inside none;
  vertical-align: baseline;
  border: 0 none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

:focus {
  outline: 0;
}

.container {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  background-color: #ebe9d7;
  word-wrap: break-word;
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}
