@function vw($size, $vw: 1920) {
  @return ($size / $vw) * 100 + vw;
}

@function rem($size) {
  @return $size / 16 + rem;
}

@mixin minTablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin minDesktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
